/* Tags: */
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:40px;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:30px;
    color: darkgrey;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: darkgrey;
}

h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: darkgrey;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: black;
}

/* Classes: */
.navbar-inverse {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0 solid black;
    border-radius: 0;
    margin: 0px;
}

.content {
    padding-top: 70px;
    padding-bottom: 70px;
}

.normalized {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about a {
    color: black;
}

/* ID: */