/* Tags: */
body {
    position: relative !important;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:35px;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:30px;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/* Classes: */
.navbar-inverse {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0 solid black;
    border-radius: 0;
    margin-bottom: 0;
}

.header {
    padding-top: 105px;
    padding-bottom: 70px;
    background-color: #1abc9c;
    color: white;
    border: 0px;
}

.content {
    padding-top: 35px;
    padding-bottom: 35px;
}

.normalized {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #545454;
    color: white;
}

.passions {
    background-color: #9FD5F0;
}

.passions p {
    text-indent: 2.0em;
    text-align: left;
    padding-left: 7%;
    padding-right: 7%;
}

.professional {
    background-color: #DF75F4;
}

.projects {
    background-color: #F4AC75;
}

.social {
    background-color: #222;
}

.social-icons i {
    margin-left: 1.5%;
    margin-right: 1.5%;
    font-size: 48px;
}

/* ID: */
#imgScouts {
    max-width: 15%;
    margin-right: 15px;
}

/* Combinations: */
.about ul {
    background-color: #545454;
}

.about li > a {
    background-color: #232222;
    color: white;
    border: 1px solid white;
}

.about li.active > a,
.about li.active > a:focus,
.about li > a:hover {
    background-color: #545454;
    color: white;
}

.about li > a::selection {
    background-color: white;
}

.about p {
    text-indent: 30px;
}

.about h1 {
    font-style: italic;
}

.about h2 {
    text-indent: 10px;
}
.about h3 {
    text-indent: 20px;
};

.about .col-xs-12 {
    margin-bottom: 30px;
}

.about img.hidden-xs {
    max-width: 5%;
    margin-right: 15px;
}

.projects .nav-pills > li > a {
    background-color: #6AC860;
    color: black;
    border: 1px solid white;
}

.projects .nav-pills > li.active > a,
.projects .nav-pills > li.active > a:focus,
.projets .nav-pills > li.active > a:hover,
.projects li > a:hover {
    background-color: #5670A3;
    color: black;
}

.projects li > a::selection {
    background-color: white;
}

.projects li p {
    font-style: italic;
    font-weight: 500;
}

.projects .tab-content {
    margin-top:30px;
    color: #1D3462;
}